.quot {
 font-size: 90%;
 font-weight: 300;
 text-align: center;
 margin-bottom: 1rem;
 font-style: italic;
 max-width: 90%;
 margin-left: 30%;

}

.quot:after,
.quot:before {
 font-size: 120%;
 font-weight: 500;
}

.quot:after {
 content: "\00A0\201D";
}

.quot:before {
 content: "\201C\00A0";
}

.quotr {
 text-align: center;
 display: block;
 font-size: 80%;
 color: #6c757d;
}

.quotr:before {
 content: "\2014\00A0";
}